<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="color: yellow; text-align: center;">
      Weather App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <div id="container">
    <h2>Please Select an Option:</h2>
    <ul>
      <li>
        <ion-button color="warning" routerLink="/weather">Your Weather</ion-button>
      </li>
      <li>
        <ion-button color="secondary" routerLink="/gweather">Global Weather</ion-button>
      </li>
      <li>
        <ion-button color="medium" routerLink="/forecast">Forecast</ion-button>
      </li>
    </ul>
  </div>
</ion-content>